@charset "utf-8";

body{
    width: 100%;
    position: relative;
    
}

/*.clearfix::after {*/
/*  content: '';*/
/*  display: block;*/
/*  clear: both;*/
/*}*/

#wrapper1{
    display: inline-block;
}

#wrapper2{
    display: inline-block;
}


.left{
    /*margin:50px 25px 25px 400px;*/
    /*float: left;*/
    position: absolute;
    top:0px;
    left:0px;
    box-shadow: 10px 10px 15px -10px;
    
}

.center{
    /*margin:50px 25px 25px 70px;*/
    /*float: left;*/
    position: absolute;
    top:0px;
    left:300px;
    box-shadow: 10px 10px 15px -10px;
}

.right{
    /*margin:50px 200px 25px 60px;*/
    /*float: left;*/
    position: absolute;
    top:0px;
    left:600px;
    box-shadow: 10px 10px 15px -10px;
}

.under-left{
    /*margin:50px 25px 25px 400px;*/
    /*float: left;*/
    position: absolute;
    top:250px;
    left:0px;
    box-shadow: 10px 10px 15px -10px;
    
}

.under-center{
    /*margin:50px 25px 25px 70px;*/
    /*float: left;*/
    position: absolute;
    top:250px;
    left:300px;
    box-shadow: 10px 10px 15px -10px;
}

.under-right{
    /*margin:50px 200px 25px 60px;*/
    /*float: left;*/
    position: absolute;
    top:250px;
    left:600px;
    box-shadow: 10px 10px 15px -10px;
}

img{
    /*border:10px;*/
    width: 200px;
    height: 200px;
    /*position: relative;*/
}

.sign{
    font-size: 20px;
    display: inline-block;
    padding: 10px;
     color: #000;
}

.title{
    /*display: inline-block;*/
    position: absolute;
    top:0px;
    left:200px;
}

.touroku{
    position: absolute;
    top:580px;
    left:950px;
}



.picture{
    position: absolute;
    top:100px;
    left:325px;
}

.h1{
    position: absolute;
    width:390px; 
    height:60px;
}

.logo{
    width:390px; 
    height:60px;
}