@charset "utf-8";

#upper{
    display: flex;
    flex-wrap: wrap;
}

#low {
    display: flex;
    flex-wrap: wrap;
}

body {
     background: url('../Picture6.png') no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}