@charset "utf-8";

#upper{
    display: flex;
    flex-wrap: wrap;
}

#low {
    display: flex;
    flex-wrap: wrap;
}

.panel-title{
     font-family: 'Yu Gothic';
     font-weight: bold;
}

body {
     background: url('../Picture6.png') no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Yu Gothic';
  font-weight: bold;
}

h1{
    font-family: 'Yu Gothic';
    font-weight: bold;
}

h4{
   font-family: 'Yu Gothic';
    font-weight: normal; 
}

