.header {
  height: 50px;
}


#login{
    margin-left: 550px ;
    height: 370px;
}

#register{
    margin-left: 40px;
    height:500px;     
}




.copy{
     color: black;
     padding-top:30px; 
     padding-left: 60px;
     font-weight: bold;
     font-size: 2em;
     float: left;
     width: 800px;
     height: 100px;
     }
    
.clearfix::after {
    content: '';
    display: block;
    clear: both; 
    }
    
.largebox{
    width:1500px;
    height: 500px;       
}    

.setsumei{
          width: 800px;
          height: 500px;
          margin-left:20px;
          float: left;
         
}

.bun{margin-top:10px;
    padding-left: 280px;
    padding-top:200px;
    color: red;
    
}

.panel{
       padding-top: 50px;
       margin-top:20px; 
      background: #fff;
      border-radius:5px;
      width: 500px;
      float:left;
      box-shadow:0 0 0 1px rgba(89,105,128,0.1), 0 3px 20px 0 rgba(89,105,128,0.3), 0 1px 2px 0 rgba(0,0,0,0.05);;
      
      text-align: center;
}


.picture{float:left;
    margin-left:30px;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 20px;
    width: 230px;
    height: 230px;
    background-size: 300px 300px;
    }
    
#setsumei1{ background-image: url("../loginimage.jpg");}
#setsumei2{ background-image: url("../suika.jpg");}
#setsumei3{ background-image: url("../hanabi.jpg");}

.bunbun{
    text-align:left;
    color: white;
    padding-top: 150px;
}


body { 
  background: url('../wood.jpg') no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}