.header {
  height: 20px;
}


#login{
    /*margin-left: 550px ;*/
    height: 470px;
}

#register{
    
    height:40%;     
}




.copy{
     color: black;
     font-weight: bold;
     font-size: 3em;
     float: left;
     width: 100%;
     height: 30%;
     font-family: 'Yu Gothic';
     text-align:center;
     margin-bottom:5%;
     }
    
.clearfix::after {
    content: '';
    display: block;
    clear: both; 
    }
    
.largebox{
    width:100%;
    height: 160%;       
}   

.panelbox{
    width:100%;
    height:30%;
}

.setsumei{
          width: 100%;
    
}
          
  #ue       { height:520px;}
  #shita   {height:300px; margin-top: 30px;
           }




.bun{
   text-align:center;
    font-family: 'Yu Gothic';
    width: 100%;
    font-weight:bold;
   }

#bun1{margin-top:6%;}


.panel{
       margin-left:30%;
       background: #fff;
       border-radius:5px;
       width: 40%;
       float:left;
       box-shadow:0 0 0 1px rgba(89,105,128,0.1), 0 3px 20px 0 rgba(89,105,128,0.3), 0 1px 2px 0 rgba(0,0,0,0.05);;
       /*padding-left: 20px;*/
       /*padding-right: 20px;*/
      text-align: center;
      margin-top: 100px;
      
}

.zentai {
    align-items: center;
    display: flex;
    justify-content: center;
}

.picture{float:left;
    margin-left:60px;
    margin-top: 30px;
    padding-top: 20px;
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
     box-shadow:0 0 0 1px rgba(89,105,128,0.1), 0 3px 20px 0 rgba(89,105,128,0.3), 0 1px 2px 0 rgba(0,0,0,0.05);;
    }
    
    
    
#setsumei1{ background-image: url("../click1.png");}
#setsumei2{ background-image: url("../click2.png");}
#setsumei3{ background-image: url("../click3.png");}
#setsumei4{ background-image: url("../clickmap.PNG");}
#setsumei5{ background-image: url("../clickday.PNG");}
#setsumei6{ background-image: url("../clickmycalendar.png");}

.bunbun{
    text-align:left;
    padding-top: 8%;
    font-size:20px;
     color: black;
     font-family: 'Yu Gothic';
   
}

.picture h3 {
          font-weight:bold;
          background-color:pink;
          color:black;
          margin-top: 90%;
          border: solid 1px #000000;
           font-family: 'Yu Gothic';
           text-align:center;
}


body { 
  background: url('../wood.jpg') no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p{
 font-family: 'Yu Gothic';
     }
     
.input-group{
 font-family: 'Yu Gothic';
 font-weight: bold;
}

.input-group-addon{
font-family: 'Yu Gothic';
 font-weight: bold;
}