.navbar-right li a {
    font-size: 15px;
}


.tab li{
    display: inline-block;
    width: 128px;
     font-weight:bold;
}

.tab li  {
    font-size: 13px;
}

.tab li span {
    text-align: left;
}




.borderline {
    width:100%;
border-top:solid 1px black;
}

.gamen {background-image: url(../japanmap.jpg);
    　　
}

label,input[type='checkbox']{cursor: pointer;}

#kensaku {
    font-size: 17px;
    font-family: 'Yu Gothic';
    font-weight: bold;
    }

#kensaku:hover {background-color: red;}
    
 .ken  {
     font-size: 13px;
     margin-left: 100px;
     margin-right: 100px;
     font-family: 'Yu Gothic';
    font-weight: bold;
      display: inline-block;}
      
.ken a{margin-left: 50px;}  
.ken a:hover{background-color: white;}
      
.zeroken{text-align: center;
     font-weight: bold;
     
}



