.navbar-right li a {
    font-size: 15px;
}


.tab li{
    display: inline-block;
    width: 128px;
     font-weight:bold;
}

.tab li  {
    font-size: 13px;
}

.tab li span {
    text-align: left;
}

.haikei {background-color: #CCFFDD;
}


.borderline {
    width:100%;
border-top:solid 1px black;
}

.gamen {background-image: url(../japanmap.jpg);
    　　
}

label,input[type='checkbox']{cursor: pointer;}

#kensaku {background-color: #99FF99;
    font-size: 17px;
    font-family: 'Yu Gothic';
    font-weight: bold;
    }

#kensaku:hover {background-color: red;}
    
 .ken a {
     font-size: 13px;
     margin-left: 50px;
     margin-right: 100px;
     font-family: 'Yu Gothic';
    font-weight: bold;
      
 }
 
 .ken{display: inline-block;}
.zeroken{text-align: center;
     font-weight: bold;
     
}



