.navbar-right li {
    height: 65px;
    padding: 0 0 0 0;
}

.navbar-right li a {
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 25px;
}



.tab li{
    display: inline-block;
    width: 128px;
    padding: 10px 0 15px 0;
}

.tab li a span {
    width: 120px;
    font-size: 12px;
    padding: 0 0 0 0;
    text-align: center;
}


