@charset "utf-8";
@import URL(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import URL(https://www.w3schools.com/w3css/4/w3.css);

table {
    width: 70%;
    height: 530px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    margin-left: 15%;
    /*font-size: 10px;*/
}

table, td, th {
    border: 1px solid #808080;
}



.week{
    height: 100px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.w3-deep-purple  th{
   height: 45px;
   font-size: 20px;
   text-align: center;
}

.w3-deep-orange th{
   height: 45px;
   font-size: 20px;
   text-align: center;
}

.w3-orange th{
   height: 45px;
   font-size: 20px;
   text-align: center;
}

.w3-brown th{
   height: 45px;
   font-size: 20px;
   text-align: center;
}

.w3-pink th{
   height: 45px;
   font-size: 20px;
   text-align: center;
}

.w3-lime th{
   height: 45px;
   font-size: 20px;
   text-align: center;
}

.w3-cyan th{
   height: 45px;
   font-size: 20px;
   text-align: center;
}

.w3-pale-red th{
    height: 45px;
   font-size: 20px;
   text-align: center;
}

.w3-green  th{
   height: 20px;
   font-size: 15px;
   text-align: center;
}

.mypagenoyoubi th{
     height: 20px;
   font-size: 15px;
   text-align: center;
}

td {
    width: 14%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    vertical-align: top;
}

a {
    font-size: 10px;
}


span{

  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 10px;
}

.btn {
    padding: 0;
    border: 5px none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.year tr{
    color: red;
    font-weight: bold;
  
    font-size: 40px;
}

body { 
  background: url('../Picture2.png') no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*html { */
/*  background: url('../umi2.jpg') no-repeat center center fixed; */
/*  -webkit-background-size: cover;*/
/*  -moz-background-size: cover;*/
/*  -o-background-size: cover;*/
/*  background-size: cover;*/
/*}*/

.boshu{
       font-weight: bold;
       background-color: pink;
}

.daylink {
   background-color: #ffd6d6;
}

.boshu1{
       font-weight: bold;
       background-color: pink;
       width: 280px;
       text-align: center;
}
.daylink:hover {background-color: lightgreen;}

.daylink{font-size: 20px;
    
    cursor: pointer
    }

.saturday .daylink{color: blue;}
.sunday .daylink{color: red;}

.kotei{
    font-family: 'Yu Gothic';
    font-family: 'Yu Gothic';
}

.w3-wide {
    font-weight: 500;
}
.glyphicon-asterisk{
    font-size: 12px;
}

.glyphicon-film{
     font-size: 12px;
}

.glyphicon-bullhorn{
     font-size: 12px;
}

.glyphicon-music{
     font-size: 12px;
}

.glyphicon-glass{
     font-size: 12px;
}

.glyphicon-picture{
     font-size: 12px;
}

.glyphicon-leaf{
     font-size: 12px;
}


.tab{margin-left: 15%;
    width:80%;
}