@charset "utf-8";

table {
    width: 100%;
    height: 530px;
    font-size: 12px;
}

.week{
    height: 100px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.youbi th{
    height: 30px;
}

td {
    width: 14%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    vertical-align: top;
}

a {
    font-size: 10px;
}


span{

  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.btn {
    padding: 0;
    border: 5px none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

